main/default/flows/Case_on_Contact_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Contact_Account_is_Not_Null</name>
        <label>Contact Account is Not Null</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Subflow_Create_Case_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is not Null</defaultConnectorLabel>
        <rules>
            <name>Account_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_record</targetReference>
            </connector>
            <label>Account is null?</label>
        </rules>
    </decisions>
    <interviewLabel>Case on Contact Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case on Contact Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Account_is_Not_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErroFlow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Case Record Created Succcessfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Case_record</name>
        <label>Create Case record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowName>Subflow_Create_Case_record</flowName>
        <inputAssignments>
            <name>varContactId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ErroFlow</name>
        <label>Erro Flow</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <flowName>SubFlow_Erro_Flow</flowName>
    </subflows>
    <subflows>
        <name>Subflow_Create_Case_record</name>
        <label>Subflow : Create Case record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowName>Subflow_Create_Case_record</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>Get_Contact_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
